html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    font-family: "Inter";
}


/* navbar section */
a {
    text-decoration: none;
}

.navbar{
    width: 100%;
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 30px;
    padding-left: 47px;
    padding-right: 123px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar a{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding: 10px 40px;
    color: #FFFFFF;
}

.navbar_title{
    display: flex;
    align-items: center;
}

.navbar_title a{
    padding: 10px 10px;
    color: #FCC72A;
}

.items{
    width: 100px;
    display: inline;
    transition: all ease-out 250ms;
    transform:rotate(270deg);
}

/* .items:hover{
    border-bottom: 3px solid #FCC72A;
} */

.items:checked{
    border-bottom: 3px solid #FCC72A;
}

.navbar__btn{
    border-radius: 15px;
    background-color: #FF407C;
}

.navbar__btn:hover{
    background-color: #FF7CA5;
}

.active{
    border-bottom: 3px solid #FCC72A;
}

/* main section */
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #FFFFFF;
    background-color: #1E1E1E;
}

/* hero section */
.hero .container h1{
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
}

.hero .container span{
    color: #FCC72A;
}

.hero .container p{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

/* articles section */
.articles .container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    justify-content: center;
}

.arrow{
    display: flex;
    justify-content: flex-end;
    height: 96px;
}

.articles #left{
    content: url('src/LeftArrow.png');
}

input[type="checkbox"]#left{
    content: url('src/LeftArrow.png');
    display: block;
    -webkit-appearance: none;
    width: 85px;
    height: 39px;
}

/* input[type="checkbox"]#left:active{
    border-left: 3px solid #FCC72A;
} */

input[type="checkbox"]#left:checked{
    content: url('src/LeftArrrowSelected.png');
}

input[type="checkbox"]#right{
    content: url('src/RightArrow.png');
    display: block;
    -webkit-appearance: none;
    width: 85px;
    height: 39px;
}

/* input[type="checkbox"]#right:active{
    border-right: 3px solid #FCC72A;
} */

input[type="checkbox"]#right:checked{
    content: url('src/RightArrowSelected.png');
}

/* input[type="checkbox"]#left:checked ~ input[type="checkbox"]#right{
    content: url('src/RightArrow.png');
} */

/* input[type="checkbox"]#right:checked ~ input[type="checkbox"]#left{
    content: url('src/LeftArrow.png');
} */

.cards{
    display: flex;
    justify-content: space-between;
}

.cards #li{
    padding: 50px 50px;
    border-radius: 27px;
    position: relative;
    list-style: none;
    width: 468px;
    height: 419px;
}

.cards h2{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.cards h4{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.cards h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
}

#rm{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #FCC72A;
}

.cards span{
    color: #FCC72A;
}

.cards #li{
    background-color: #18171C;
    color: #FFFFFF;
}

.cards #li:hover{
    background-color: #FF407C;
}

.cards #li:hover > #rm{
    color: #1E1E1E;
}

.cards #li #rm{
    display: flex;
}

.cards #li #rm #gams{
    content: url('src/SmallArrow.png');
    height: 9px;
    padding-top: 8px;
    padding-left: 12px;
}

.cards #li:hover > #rm > #gams{
    content: url('src/SmallArrowSelected.png');
    height: 9px;
    padding-top: 8px;
    padding-left: 12px;
}

/* about section */
.about{
    background-image: 
        url(src/Ellipse\ 4.png),
        url(src/Ellipse\ 3.png),
        url(src/Ellipse\ 5.png),
        url(src/Ellipse\ 6.png)
    ;
    background-size: auto, auto, auto, auto;
    background-position: bottom right, bottom right, bottom left, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 10px;
}

.about .container{
    display: flex;
    padding-right: 380px;
    padding-left: 200px;
    /* height: 80%; */
}

.about .container div{
    display: inline;
}

.about .container .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

img[src="src/Rectangle.png"]{
    top: 50%;
    height: 407px;
}

.description{
    width: 100%;
}

.description h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #FCC72A;
}

.description h2{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;
    color: #FFFFFF;
}

.description h2 span{
    color: #FCC72A;
}

.description p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    color: #FFFFFF;
    /* pad: 50px 50px; */
}

.footer{
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 30%;
    width: 55%;
    padding-right: 130px;
}

.footer div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer a{
    padding: 15px;
    color: white;
}

/* articles page section */

.main{
    align-items: flex-start;
}

/* #main_container{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    /* overflow-y: scroll; */
    /* background-color: yellow; */
    /* position: absolute; */
    /* height: 90vh; */
/* } */

#main_container{
    position: relative;
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 50px;
    /* background-color: aqua; */
}

.isi_artikel{
    width: 1176px;
    height: 442px;
}

.isi_artikel h1{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    width: 648px;
}

.isi_artikel span{
    color: #FCC72A;
}

.isi_artikel h4{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 155px;
    height: 24px;
}

.isi_artikel p{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
}

.image_div{
    display: flex;
    align-items: flex-end;
    /* padding-bottom: 38px; */
    /* width: 313px;
    height: 480px; */
    /* background-color: aqua; */
}

.main .container .image{
    display: flex;
    align-content: center;
    background-color: #FF407C;
    border-radius: 27px;
    width: 313px;
    height: 480px;
    top: 100%;
    bottom: 10%;
}

/* scrollbar section */

/* width */
#main_container::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#main_container::-webkit-scrollbar-track {
    background: #5E5759;
}

  /* Handle */
#main_container::-webkit-scrollbar-thumb {
    background: #FF407C;
}